@background-color: #242425 ;
@link-color: #7B900F  ;
@link-lowlight-color: #7F7F7F  ;

body {
  background-color: @background-color;
  color: #FFFFFF;
}

.square{
  height: 0;
  width:148px;
  float:left;
  display:block;
}

.square {
  border:1px solid #FFF;
  padding-bottom: 30%;
}

.container {
  width: 450px;
  height: 450px;
}
.players {
   width:145px;
 }
