<div ng-controller="GameController">
    <h3>Game Progress: {{game.gameboard}}</h3>
    <h3>{{game.gameState}}</h3>
    <h3>Player {{game.gameWinner}}</h3>
    <div class="container">
        <div class="square" ng-click="gameplay(0)"><img src="images/blank.png" class="players{{game.gameboard[0]}}"></div>
        <div class="square colBorder" ng-click="gameplay(1)"><img src="images/blank.png" class="players{{game.gameboard[1]}}"></div>
        <div class="square" ng-click="gameplay(2)"><img src="images/blank.png" class="players{{game.gameboard[2]}}"></div>
        <div class="square rowBorder" ng-click="gameplay(3)"><img src="images/blank.png" class="players{{game.gameboard[3]}}"></div>
        <div class="square rowBorder colBorder" ng-click="gameplay(4)"><img src="images/blank.png" class="players{{game.gameboard[4]}}"></div>
        <div class="square rowBorder" ng-click="gameplay(5)"><img src="images/blank.png" class="players{{game.gameboard[5]}}"></div>
        <div class="square" ng-click="gameplay(6)"><img src="images/blank.png" class="players{{game.gameboard[6]}}"></div>
        <div class="square colBorder" ng-click="gameplay(7)"><img src="images/blank.png" class="players{{game.gameboard[7]}}"></div>
        <div class="square" ng-click="gameplay(8)"><img src="images/blank.png" class="players{{game.gameboard[8]}}"></div>
    </div>
    <button ui-sref="creatingGame">Pick Players</button>
    <button ng-click="newGameMaker()">New Game</button>
</div>